/**
 * Reset some basic elements
 */

 :root {
    --c-highlight: lightgreen;
    --c-dark: #111;
}

html,
body {
    @apply text-gray-900;
    overflow-x: hidden;
}


ul {
    list-style: none;
}

ul li {
    padding-left: 1rem;
}

ul li:before {
    content: '';
    width: .5rem;
    height: .15rem;
    /* border-radius: .25rem; */
    margin-left: -1rem;
    margin-right: .5rem;
    top: -.2em;
    background-color: currentColor;
    position: relative;
    display: inline-block;
}

@media screen and (min-width: 800px) {
    .container {
        padding: 0;
        padding-top: 2rem;
    }
}

.portrait {
    text-align: center;
    margin-bottom: 3rem;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    @apply mb-12;
}

.portrait img {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .15);
    margin-bottom: .5rem;
    border-radius: 100%;
}

.portrait figcaption {
    font-size: .875rem;
    text-align: center;
    line-height: 1.4;
}

.portrait figcaption a {
    box-shadow: none;
}

.container-project .role {
    /* margin-bottom: 3rem; */
}

img.logo {
    max-width: 150px;
    margin-bottom: 2rem;
}

.screenshots {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    flex-flow: row wrap;
    width: 100%;
    padding: 0 2rem;
}

.screenshots figure {
  margin: 1rem;
}

.screenshots figure figcaption {
  @apply text-center pt-2;
  font-size: .875rem;
}

.screenshots figure figcaption a:hover {
  @apply underline;
}

.screenshots img {
    width: 100%;
    /* margin: 1rem; */
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .2);
}

@media screen and (min-width: 800px) {
    .screenshots img {
        width: auto;
        max-height: 300px;
    }
}

.screenshots img.tall {
    max-height: 400px;
    width: auto;
}

ul.projects-list {
    list-style: none;
    padding: 0;
}

ul.projects-list li {
    list-style: none;
    width: 100%;
    padding: .5rem 0;
    cursor: pointer;
    box-shadow: inset 0 -6px 0 var(--c-highlight);
    transition: box-shadow .2s, color .2s;
}

ul.projects-list li a {
    display: flex;
    justify-content: space-between;
}

ul.projects-list li a.visited {
    opacity: .3;
}

ul.projects-list li.visited:hover span {
    color: #2E2E2E;
}

ul.projects-list li:hover {
    box-shadow: inset 0 -3rem 0 var(--c-highlight);
}

ul.projects-list li span {
    font-weight: 500;
}

ul.projects-list li span.year {
    font-weight: 300;
}

ul.projects-list li:before {
    display: none;
}


/* transition */

.page-enter-active,
.page-leave-active {
    transition: opacity 0.5s;
}

.page-enter,
.page-leave-to {
    opacity: 0;
}